/*Jake Hanson, Ryan Lynn, Xandy Corley*/
body{background-color: beige; font-family: "Times New Roman", Times , serif;}

h1{display:block; margin: 0; background-color: brown; color: beige; font-family: "Helvetica", sansserif;}

/*Sudoku grid*/
table{margin:1em auto;}

td{height:45px; width:45px; border 1px solid;text-align: center; color:black; font-family: "Comic Sans", sansserif;}

td:hover{background-color: skyblue;}

td.tl{border-top:solid; border-left:solid;}
td.tr{border-top:solid; border-right:solid;}
td.bl{border-bottom:solid; border-left:solid;}
td.br{border-bottom:solid; border-right:solid;}
td.left{border-left:solid;}
td.right{border-right:solid;}
td.top{border-top:solid;}
td.bottom{border-bottom:solid;}

p.show-message{opacity=1.0;}

p.hide-message{opacity=0.0; color: beige}
